/*@import 'react-hexgrid'*/

.App {
  text-align: center;
}

.board {
  position: relative;
}

.grid {
  min-height: 900px;
  height: 100%;
}

#Form{
  z-index: 14;
}

/*SVG elements*/

.corner{
  stroke: none;
  fill: #d9d9d9;
}

.corner-select {
  stroke: yellow;
  stroke-width: .3;
}

.port {
  fill: brown;
}

.port-text {
  font-family: 'Press Start 2P', cursive;
  font-size: .1em;
  fill: white;
}

.token-text {
  font-family: 'Press Start 2P', cursive;
  font-size: .2em;
  fill: black;
}

.token-circle {
  fill: white
}

.hexhover {
  stroke: red;
  stroke-width: .3;
}

.hexhover {
  stroke: red;
  stroke-width: .3;
}

/*svg 'canvases'*/
#HexGrid{
  position: absolute ;
  top:0 ;
  left:0 ;
}

#CornerGrid{
  position: absolute ;
  top:0 ;
  left:0 ;
  z-index: 12;
}

#Roads {
  position: absolute ;
  top:0 ;
  left:0 ;
}

svg polygon {
  fill: #06437f
}

svg circle {
  fill: #ddd;
}

svg text {
  fill: black;
  font-size: .1em;
}

svg circle {

}
/*Users*/

.red-player {
fill: red;
}
.blue-player {
fill: blue;
}
.green-player {
  fill: green;
}
.brown-player {
  fill: brown;
}

/*Resources*/
.hematite {
 fill: #ad7545
}

.ice {
  fill: #beecf7
}

.solar  {
  fill: #152e66
}

.seeds {
  fill: #669b5a
}

.other {
 fill: #a5a45e
}

.desert {
  fill: black
}

.hex {
  fill: none;
}


/*Roads*/

.green {
  stroke: green;
  fill: green;
  stroke-weight: .5;
}

.red {
  stroke: red;
  fill: red;
  stroke-weight: .5;
}
.blue {
  stroke: blue;
  fill: blue;
  stroke-weight: .5;
}
.brown {
  stroke: brown;
  fill: brown;
  stroke-weight: .5;
}
