/*@import 'react-hexgrid'*/

.App {
  text-align: center;
}

.board {

}

svg {
  background-color: #c65025
}

svg polygon {
  fill: #06437f
}

svg circle {
  fill: #ddd;
}

svg text {
  fill: black;
  font-size: .1em;
}

svg circle {

}
